@font-face{
 font-family:"SVN-GilRoy";
 src:url("../fonts/SVN-Gilroy\ Light.otf");
}

h1::first-letter{
 text-transform:capitalize;
}

h1{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
}

html{
 overflow-x:hidden;
 overflow-y:scroll;
}

#navbarSupportedContent{
  margin-left:70%;
}

.navbar-brand{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  line-height:25px;
  text-transform:uppercase;
}

.nav-link{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:500;
  font-size:16px;
  color:#000000 !important;
}

.banner{
  width:100%;
  height:auto;
  background-image:url("../img/Banner.png");
  background-size:100%;
  background-repeat:no-repeat;
}

h2{
 font-family:SVN-Gilroy;
 font-style:normal;
 font-weight:bold;
 font-size:64px;
}

.reven{
  margin-top:18% !important;
  letter-spacing:0.5em !important;
}

.icon-group{
  position:absolute;
  top:580px;
}

.shop_now:hover{
  text-decoration:none;
  color:#000000;
}

.shop_now{
  font-family:SVN-Gilroy !important;
  font-style:normal !important;
  font-weight:500 !important;
  font-size:16px !important;
  color:#000000;
}

.shop_now::after{
  content:url("../img/arrow_icon.svg");
  vertical-align:middle !important;
  margin-left:0%;
}

.shop_now_group{
  margin-left:90%;
  margin-top:14%;
}

.empty-rectangle{
  width:100%;
  height:100px;
  background-color:#C4C4C4;
  margin-top:19%;
}

.text{
  font-size:16px !important;
  text-align:left;
  margin-top:20%;
  font-family:SVN-GilRoy;
  font-weight:bold;
}

.rectangle{
  width:55%;
  height:60px;
  background-color:#C4C4C4;
  margin-left:22%;
}

.text-100{
  font-size:16px;
  font-family:SVN-GilRoy;
  font-weight:bold;
}

.group_text{
  margin-top:9%;
}

.image-group{
  position:relative;
}

.img-darling{
  margin-left:19%;
}

.img-beyond{
  margin-left:20%;  
}

.mystery{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  right:0;
  color:#fff;
}

.darling{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  top:40%;
  left:40%;
  color:#fff;
}

.reven1{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  left:50%;
  bottom:10%;
  color:#fff;
}

.last_image{
  position:absolute;
  left:60%;
}

.beyond{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  bottom:0;
  left:22%;
}

.lefeminin{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  left:44%;
  top:44%;
}

.image-group-natural{
  position:absolute;
  left:45%  
}

.naturalism{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  left:32%;
  top:70%;
  color:#fff;
}

.image-group1{
  position:relative;
  left:1%;
}

.image-group2{
  position:relative; 
}

.border{
  width:100%;
  height:30px;
  background:#C4C4C4;
}

.text-search{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:500;
  font-size:16px;
}

.wrapper{
  width:100%;
  background-color:#F2F2F2;
  display:flex;
}

.border_register1{
  width:100%;
  height:450px;
  background-color:#FFFFFF;
  opacity:0.6;
}

.image-group-reven{
  position:relative;
}

.image-group-lefemin{
  position:relative;
}

.ecommerce-register{
  width:65%;
  height:auto;
  border:1px solid #ddd;
  position:absolute;
  left:11.2%;
  top:17%;
  display:flex;
}

.left-opacity{
  width:100%;
  height:375px;
  background:#fff;
  opacity:0.8;
}

.new_customer::first-letter{
  text-transform:capitalize;
}

.ecommerce-content{
  width:41%;
  height:auto;
  background:#fff;
  position:absolute;
  left:22.2%;
}

.new_customer{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:48px;
}

.receive{
  font-family:SVN-Gilroy;
  font-style:normal; 
  font-weight:bold;
  font-size:16px;
}

.fifty_euro{
  margin-left:35%;
}

.text_description{
  margin-left:10%;
}

.form-control:focus{
  box-shadow:none !important;
}

.form-control{
  border-left:0 !important;
  border-right:0 !important;
  border-top:0 !important;
}

.btn-register{
  width:160px;
  height:50px;
  border-radius:30px;
  background-color:#000000;
  margin-top:5%;
  margin-left:30%;
  border:none;
}

.btn-register::first-letter{
  text-transform:capitalize;
}

.btn-register:hover{
  background-color:#ffa233;
}

.out-fit{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:31px;
  margin-left:30%;
}

.text-new-look{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:31px;
  position:absolute;
  top:25%;
}

.footer{
  width:100%;
  height:auto;
  background-color:#F2F2F2;
}

.text-footer{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  color:#828282;
}

.text-footer-description{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:normal;
  font-size:14px;
  color:#000000;
}

.footer-copyright{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:500;
  font-size:14px;
  color:#828282;  
}

/* Responsive in Iphone */
@media (max-width:576px){
  body{
   overflow-x:hidden;
  }

  .navbar-brand {
    font-family:SVN-Gilroy;
    font-style:normal;
    font-weight:bold;
    font-size:18px;
    line-height:25px;
    text-transform:uppercase;
  }

  .banner{
    background-image:url("../img/Banner.png");
    background-size:100%;
    background-repeat:no-repeat;
  }

  .empty-rectangle{
    width:100%;
    height:50px;
    margin-top:2%;
  }

  .mystery{
    position:absolute;
    left:48%;
  }

  .group-image{
    position:relative;
  }

  .img-mystery{
    width:100%;
    margin-left:3%;
  }

  .img-darling{
    margin-top:2%;
    margin-left:2%;
  }

  .image-group2{
    left:25%;
  }

  .image-group-reven{
    left:25%;
  }

  .image-group-lefemin{
    left:12%;
  }

  .ecommerce-register{
    width:86%;
    margin-left:-4%;
  }

  .new_customer {
    font-family:SVN-Gilroy;
    font-style:normal;
    font-weight:bold;
    font-size:31px;
  }

  .receive{
    white-space:nowrap;
    margin-left:-20%;
  }

  .text_description {
    margin-left:-49%;
  }

  .btn-register {
    margin-top:5%;
    margin-left:-7%;
  }

  .form-control{
    width:250px;
    margin-left:-30%;
  }

  .left-opacity{
    height:251px;
  }

  .out-fit{
    font-size:25px;
    margin-left:5%;
    white-space:nowrap;
  }

  .text-new-look{
    font-size:23px;
  }
  
  .image-instagram{
    margin-top:65%;
  }
}