@font-face{
 font-family:"SVN-GilRoy";
 src:url("../fonts/SVN-Gilroy\ Light.otf");
}

h1::first-letter{
 text-transform:capitalize;
}

h1{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
}

html{
 overflow-x:hidden;
 overflow-y:scroll;
}

#navbarSupportedContent{
  margin-left:70%;
}

.navbar-brand{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  line-height:25px;
  text-transform:uppercase;
}

.nav-link{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:500;
  font-size:16px;
  color:#000000 !important;
}

.banner{
  width:100%;
  height:auto;
  background-image:url("../img/Banner.png");
  background-size:100%;
  background-repeat:no-repeat;
}

h2{
 font-family:SVN-Gilroy;
 font-style:normal;
 font-weight:bold;
 font-size:64px;
}

.reven{
  margin-top:18% !important;
  letter-spacing:0.5em !important;
}

.icon-group{
  position:absolute;
  top:580px;
}

.shop_now:hover{
  text-decoration:none;
  color:#000000;
}

.shop_now{
  font-family:SVN-Gilroy !important;
  font-style:normal !important;
  font-weight:500 !important;
  font-size:16px !important;
  color:#000000;
}

.shop_now::after{
  content:url("../img/arrow_icon.svg");
  vertical-align:middle !important;
  margin-left:0%;
}

.shop_now_group{
  margin-left:90%;
  margin-top:14%;
}

.empty-rectangle{
  width:100%;
  height:100px;
  background-color:#C4C4C4;
  margin-top:19%;
}

.text{
  font-size:16px !important;
  text-align:left;
  margin-top:20%;
  font-family:SVN-GilRoy;
  font-weight:bold;
}

.rectangle{
  width:55%;
  height:60px;
  background-color:#C4C4C4;
  margin-left:22%;
}

.text-100{
  font-size:16px;
  font-family:SVN-GilRoy;
  font-weight:bold;
}

.group_text{
  margin-top:9%;
}

.image-group{
  position:relative;
}

.img-darling{
  margin-left:19%;
}

.img-beyond{
  margin-left:20%;  
}

.mystery{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  right:0;
  color:#fff;
}

.darling{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  top:40%;
  left:40%;
  color:#fff;
}

.reven1{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  left:50%;
  bottom:10%;
  color:#fff;
}

.last_image{
  position:absolute;
  left:60%;
}

.beyond{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  bottom:0;
  left:22%;
}

.lefeminin{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  left:44%;
  top:44%;
}

.image-group-natural{
  position:absolute;
  left:45%  
}

.naturalism{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
  position:absolute;
  left:32%;
  top:70%;
  color:#fff;
}

.image-group1{
  position:relative;
  left:1%;
}

.image-group2{
  position:relative; 
}

.border{
  width:100%;
  height:30px;
  background:#C4C4C4;
}

.text-search{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:500;
  font-size:16px;
}

.wrapper{
  width:100%;
  background-color:#F2F2F2;
  display:flex;
}

.border_register1{
  width:100%;
  height:450px;
  background-color:#FFFFFF;
  opacity:0.6;
}

.image-group-reven{
  position:relative;
}

.image-group-lefemin{
  position:relative;
}

.ecommerce-register{
  width:65%;
  height:auto;
  border:1px solid #ddd;
  position:absolute;
  left:11.2%;
  top:17%;
  display:flex;
}

.left-opacity{
  width:100%;
  height:375px;
  background:#fff;
  opacity:0.8;
}

.new_customer::first-letter{
  text-transform:capitalize;
}

.ecommerce-content{
  width:41%;
  height:auto;
  background:#fff;
  position:absolute;
  left:22.2%;
}

.new_customer{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:48px;
}

.receive{
  font-family:SVN-Gilroy;
  font-style:normal; 
  font-weight:bold;
  font-size:16px;
}

.fifty_euro{
  margin-left:35%;
}

.text_description{
  margin-left:10%;
}

.form-control:focus{
  box-shadow:none !important;
}

.form-control{
  border-left:0 !important;
  border-right:0 !important;
  border-top:0 !important;
}

.btn-register{
  width:160px;
  height:50px;
  border-radius:30px;
  background-color:#000000;
  margin-top:5%;
  margin-left:30%;
  border:none;
}

.btn-register::first-letter{
  text-transform:capitalize;
}

.btn-register:hover{
  background-color:#ffa233;
}

.out-fit{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:31px;
  margin-left:30%;
}

.text-new-look{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:31px;
  position:absolute;
  top:25%;
}

.footer{
  width:100%;
  height:auto;
  background-color:#F2F2F2;
}

.text-footer{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  color:#828282;
}

.text-footer:hover{
  color:#828282;
  text-decoration:none;
}

.text-footer-description{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:normal;
  font-size:14px;
  color:#000000;
}

.footer-copyright{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:500;
  font-size:14px;
  color:#828282;  
}

.email-nordic-coder{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  color:#9B51E0;
  text-decoration:underline;
}

.email-nordic-coder:hover{
  color:#9B51E0;
}

.sidebar{
  width:100%;
  height:auto;
  background-color:#fff;
}

.filter_category{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:500;
  font-size:16px;
  color:#828282;
}

.show_results{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:normal;
  font-size:14px;
  color:#828282;
}

.sort-list{
  width:50%;
  height:40px;
  border:1px solid #E0E0E0;
  border-radius:30px;
}

.sort-by-latest{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  color:#000000;
  position:absolute;
  top:20%;
  left:5%;
}

.sort-by-latest::after{
  content:url("../img/arrow_down.png");
  padding:97px;
}

.circle{
  width:15%;
  height:auto;
  border-radius:50%;
  border:1px solid #000000;
}

.size-group{
  display:flex;
  padding:2px;
}

.julia{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:18px;
  color:#000000;
}

.search-bar{
  margin-left:72% !important;
  margin-top:-3% !important;
}

.add-to-cart{
  width:40%;
  height:47px;
  border-radius:30px;
  border-left:none;
  border-right:none;
  border-top:none;
  border-bottom:none;
  background-color:#ffff;
  border:none;
  position:absolute;
  top:70%;
  left:26%;
}

.pagination1{
  width:3%;
  height:auto;
  border:1px solid #dddd;
  border-radius:50%;
  background-color:#F2F2F2;
  border:none;
}

.pagination-group{
  display:flex;
  flex-direction:row;
}

.pagination2{
  width:3%;
  height:auto;
  border:1px solid #dddd;
  border-radius:50%;
  background-color:#F2F2F2;
  border:none;
  margin-left:1%;
}

.cart-home{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:14px;
  color:#000000;
}

.julia-cart-title{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:bold;
  font-size:48px;
}

.color{
  font-family:SVN-Gilroy;
  font-style:normal;
  font-weight:500;
  font-size:16px;
  color:#828282;
}

.quantity{
  width:52%;
  height:35px;
  background-color:#F2F2F2;
  border-radius:30px
}

.add-to-detail-cart{
  background:none;
  border:none;
}

.quantity-group{
  display:flex;
  margin-top:14%;
}

.circle-icon{
  width:25%;
  height:auto;
  background-color:#000000;
  border-radius:50%;
  display:inline-block;
}

.fas.fa-arrow-right{
  margin-left:15%;
}

.icon-heart{
  position:absolute;
  left:72%;
  top:46.3%;
}
